.header {
  background: #2b2d30;
}

body 
{
  background-color: #f7f7f7 !important;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header__title {
  color: black !important;
  text-decoration: none;
  h1 {
    border-left-width: 0px;
    margin-right: 0px;
  }
}
h1 {
  color:#2b2d30;
}

h1:link
{
  text-decoration: none;
}

.poll-title h1{
  text-align: left;
  margin-left: 10%;
  font-variant: small-caps;
}
.trending-polls {
  border: none;
  font-variant: small-caps;
  text-align: center;
}


 .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2d30;
}

.navbar li {
  float: left;
}

 li a {
  font-family: Georgia, serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  left: 50%;
}

li a:hover
{
  color: #d2d4d8;
}
