body {
    background-color: aqua;
    max-width: 10%;
    border-style: hidden;
    margin: 10%;
}

.create-poll {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.answer-poll {
    width: 50%;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.trending-polls {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bigdiv {
    max-width: 10%;
    border-style: hidden;
    margin: 10%;
}