
.view-polls {
    color: white;
}
#poll-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-sizing: content-box;  
    box-pack: inherit;  
    border: 1px;
    box-sizing: content-box;
    background-color: white !important;
    margin: 1%
}

#poll-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
h1 {
    position: relative;
    border-style: double;
    border-color: #fffcfc;
    border-left-width: 0.5em;
    margin: 50%;
    font-family: Georgia, serif;
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
}
h1:visited {
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
}

.header__title h1 {
    text-align: left;
    border-style: none !important; 
    font-variant: small-caps;
    font-family: Georgia, serif;
    color: white;
}

h3 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    border-style: dotted;
    border-color: #fffcfc;
    border-left-width: 0.5em;
}

p {
    font-family: Georgia, serif;
}

label {
    font-family: Georgia, serif;
}

span {
    font-family: Georgia, serif;
}