
.view-polls {
    color: white;
}
#poll-card {
    box-sizing: content-box;  
    box-pack: inherit;  
  border: 10px solid blue;
}
h1 {
    position: relative;
    border-style: double;
    border-color: #fffcfc;
    border-left-width: 0.5em;
    margin: 50%;
    font-family: Georgia, serif;
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
}
h1:visited {
    color: #13315b;
    text-decoration: #fffcfc;
    text-decoration-line: #fffcfc;
}

.header__title h1 {
    margin-left: 0%;
    text-align: left;
    border-style: none !important; 
    font-variant: small-caps;
    font-family: Georgia, serif;
    color: white;
}

h3 {
    font-family: Georgia, serif;
    font-variant: small-caps;
    border-style: dotted;
    border-color: #fffcfc;
    border-left-width: 0.5em;
}

p {
    font-family: Georgia, serif;
}

label {
    font-family: Georgia, serif;
}

span {
    font-family: Georgia, serif;
}